# ML

# Pytorch-------------------------------------------------------------
# to install pytorch, please visit : https://github.com/AmineDjeghri/BetterWindows/blob/master/README.md#3-python-pytorch-and-cuda-installation
#-----------------------------------------------------------------------


tensorboard
tensorflow
optuna

# Misc

jupyter
future
pyyaml
tqdm
click

# Scientific

matplotlib
seaborn
sklearn
pandas

# NLP

conllu
spacy
bs4
sentencepiece

